<footer class="fixed-bottom">
                <div class="rodape"></div>
                <img src="../../assets/img/copyright.png" alt="© eConosys, 2019 - Todos os direitos reservados." class="copyright">
                <a href="https://www.facebook.com" target="_blank"><img src="../../assets/img/facebook.png" class="redes" alt="Facebook" title="Facebook"></a>
                <a href="https://br.linkedin.com" target="_blank"><img src="../../assets/img/linkedin.png" class="redes" alt="LinkedIn" title="LinkedIn"></a>
                <a href="https://twitter.com" target="_blank"><img src="../../assets/img/twitter.png" class="redes" alt="Twitter" title="Twitter"></a>
        </footer>
        
        
        