<main>

    <div class="titulo">
        <h1>
            Estatísticas
        </h1>
    </div>

    <div class="container">


        <div class="row">
            <div class="col-sm">
                <h3 class="subtitulo">
                    Acompanhamento de Depósitos
                </h3>
            </div>
            <div class="col-lg">
                <canvas id="graficoLinhaControle"></canvas>
            </div>
            
        </div>

        <hr>

        <div class="row">
            <div class="col-sm">
                <h3 class="subtitulo">
                    Acompanhamento de Depósitos
                </h3>
            </div>
            <div class="col-lg">
                <canvas id="graficoPizzaControle"></canvas> 
            </div>
            
        </div>

        <hr>

        <div class="row">
            <div class="col-sm">
                <h3 class="subtitulo">
                    Acompanhamento de Origem de Investimentos
                </h3>
            </div>
            <div class="col-lg">
                <canvas id="graficoPizzaInvestimento"></canvas>
            </div>
        </div>


    </div>
   
   </main>