<img src="../../assets/img/banner/Servicos.jpg" class="banner">


<main>



    <div class="titulo">
        <h1>Nossos Serviços</h1>
    </div>

    <div class="container">
        <div class="row">
        <div class="col-sm">
        <img src="../../assets/img/controle.PNG" class="img-service">
        </div>
        <div class="col-md">
        
            <h3 class="servicos">Controle</h3>
            <br>
            <p>Um sistema que lhe auxilia na entrada e saída do dinheiro.</p>
            <p>Nele você pode creditar o valor recebido ou debitar o valor que gastou. Marca a data de atualização e o total de dinheiro que lhe resta.</p>
            

        </div>
        </div>

        <hr class="servicos-hr">

        <div class="row">
        <div class="col-sm">
        <img src="../../assets/img/investimento.PNG" class="img-service">
        </div>
        <div class="col-md">
        
            <h3 class="servicos">Investimento</h3>
            <br>
            <p>No aba investimento você aplica seu dinheiro e visualiza o rendimento gerado.</p>
            <p>Assim que você informar o valor a ser aplicado, deverá colocar sua origem, você escolhe como identificar. Após, deverá informar quantos porcento sua aplicação deverá render, selecionar se a ação anterior terá seu rendimento por mês, ano ou apenas uma única vez. Por fim, indicar uma data de retorno, na qual a aplicação estará disponível para saque.</p>
            

        </div>
        </div>

        <hr class="servicos-hr">

        <div class="row">
        <div class="col-sm">
        <img src="../../assets/img/estatisticas.PNG" class="img-service">
        </div>
        <div class="col-md">
        
            <h3 class="servicos">Estatísticas</h3>
            <br>
            <p>Através de gráficos você tem uma visão dos dados contidos nas páginas de controle e investimento.</p>
            <p>Por meio do gráfico de colunas você tem uma visão mais ampla sobre seu controle de crédito e débito. Já com os gráficos de setor você visualiza os tipos de aplicações que mais utilizada e outro que lhe informa onde mais estas investindo.</p>
            
        
        </div>	
        </div>
    </div>

</main>