<div class="adminLogado" *ngIf="admin">
    <p>Você está usando o usuário administrador</p>
</div>

<main>

    


    <div class="titulo">
        <h1>
            Painel
        </h1>
    </div>

    <section>

        <div class="container">


                <div class="row" *ngFor="let usuario of usuarios">
                    <div class="listaUsers">
                        <h1>{{ usuario.nomeUsuario }}</h1>
                        <h3>{{ usuario.emailUsuario }}</h3>
                        <button class="btn btn-danger" (click)="excluir(usuario.idUsuario)">Banir</button>
                    </div>
                </div>


        </div>

    </section>

</main>
